<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<link href="../../css/mui.min.css" rel="stylesheet" />-->
		<script src="../../js/setrem.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			body{
				height: 100%;
				width: 100%;
				font-size: 0.12rem;
			}
			header{
				height: 64px;
				width: 100%;
			}
		</style>
	</head>

	<body>
		<header>
			<div class="headtop"></div>
			<div class="headtit"></div>
		</header>
		<div class="content">
			<div class="showimg"></div>
			<div class="gamelist"></div>
		</div>
		<footer>
			<div class="userinfo"></div>
			<div class="money"></div>
			<div class="userCenter"></div>
		</footer>
		
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>